<ngx-graph *ngIf="graph"
  class="process-graph"
  [view]="view"
  [links]="graph.links"
  [nodes]="graph.nodes"
  [legend]="showLegend"
  [curve]="curve"
  [orientation]="orientation"
  [scheme]="colorScheme"
  [draggingEnabled]="true">

  <ng-template #defsTemplate>
    <svg:marker id="arrow" viewBox="0 0 10 10" refX="5" refY="5"
        markerWidth="6" markerHeight="6" orient="auto" class="arrow">
      <!-- <svg:path d="M 0 0 L 10 5 L 0 10 z" /> -->
      <svg:path d="M 0 0 L 10 5 L 0 10 z" />
    </svg:marker>    
  </ng-template>

  <ng-template #nodeTemplate let-node>
    <svg:g class="node"
    ngx-tooltip
    [tooltipPlacement]="'top'"
    [tooltipType]="'tooltip'"
    [tooltipTitle]="node.position"
    >
      <svg:rect [attr.width]="node.width" [attr.height]="node.height" [attr.fill]="node.options.color" />
      <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.height / 2">{{node.label}}</svg:text>
    </svg:g>
  </ng-template>

  <ng-template #linkTemplate let-link>
    <svg:g class="edge">
      <svg:path
        class="line"
        stroke-width="2"
        marker-end="url(#arrow)" >
      </svg:path>
      <svg:text
        class="edge-label"
        text-anchor="middle">
      <textPath
                class="text"
                [attr.href]="'#' + link.id"
                startOffset="60%">
        {{link.label}}
      </textPath>
    </svg:text>
    </svg:g>
  </ng-template>

</ngx-graph>