
:host {
  box-sizing: border-box;
  width: 100%;
  height: 100%;  
}

.process-graph {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.line {
  stroke: rgb(200, 200, 200);
}

.edge-label .text {
  fill: rgb(0, 0, 200);
  font-size: 14px;
  font-family: roboto;
}

.arrow {
  fill: rgb(200, 200, 200);
}